body {
    margin: 50px;
}

.product {
    min-width: 10px;
    margin-bottom: 20px;
}

.product .product-container .product-details {
    width: 100%;
}

.product .product-image {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 350px; /* Controla la altura del contenedor de la imagen */
}

.product .product-image img {
    
    max-width: 100%;
    max-height: 100%; /* La imagen ocupará la altura completa del contenedor */
    object-fit: contain; /* Mantiene la relación de aspecto y ajusta la imagen al contenedor */
}

.quantity-input {
    width: 50px;
    text-align: center;
}

.product .product-container .product-details,
.product .product-container .product-actions {
    text-align: left;
}
.banner{
     max-width: 100%;
    max-height: 100%;
}


.product-admin {
    min-width: 300px;
    margin-bottom: 20px;
}

.error-message {
    color: red;
}

.product-image-admin {
    max-width: 60%;
    height: auto;
}

/* Estilo para el formulario de edición */
.edit-form {
    display: none;
}

.edit-form.show {
    display: block;
}
/* Estilos para la calculadora */
.calculator {
    text-align: center;
}

.screen {
    width: 100%;
    font-size: 24px;
    padding: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}

.operator {
    background-color: #ff8800;
    color: #fff;
}

.equal {
    background-color: #0088ff;
    color: #fff;
}

.clear {
    background-color: #ff0000;
    color: #fff;
}
.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal-content {
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #000;
}